
.portrait-msg {
    text-align: center;
    max-width: 400px;
    display: none;
    margin: 50px auto;
    color: #666;
    text-shadow: 2px 2px 0 #EEE
}

@media (orientation:portrait) {
    .portrait-msg {
        display: block;
    }
    .wrapper {
        display: none;
    }
}